wordproof.settings:
  type: config_object
  label: 'WordProof base configuration'
  mapping:
    blockchainBackend:
      type: mapping
      label: 'Blockchain backend'
      description: 'Plugin to send content hashes to a blockchain'
      mapping:
        id:
          type: string
          description: 'Blockchain backend plugin ID'
    blockchainBackendKey:
      type: string
      description: 'Blockchain backend key'
    blockchainBackendUrl:
      type: uri
      description: 'Blockchain backend API url'
    stampers:
      type: sequence
      label: 'Entity type configuration'
      sequence:
        type: wordproof.stamper.*

wordproof.stamper.*:
  type: wordproof.stamper

wordproof.stamper:
  type: mapping
  label: 'WordProof entity type stamper configuration'
  mapping:
    entity_type:
      type: mapping
      label: 'Entity type'
    entity_type_bundle:
      type: mapping
      label: 'Entity type bundle'
    plugin_id:
      type: string
      label: 'Stamper plugin'
    enabled:
      type: boolean
      label: 'Enable stamping'


