wordproof.settings:
  type: config_object
  label: 'WordProof base configuration'
  mapping:
    blockchainBackend:
      type: mapping
      label: 'Blockchain backend'
      description: 'Plugin to send content hashes to a blockchain'
      mapping:
        id:
          type: string
          description: 'Blockchain backend plugin ID'
    blockchainBackendKey:
      type: string
      description: 'Blockchain backend key'
    blockchainBackendUrl:
      type: uri
      description: 'Blockchain backend API url'
